page-welcome {
 #welcome{
     background-image: url('../../assets/imgs/logo.png');
     background-repeat: no-repeat;
     background-size: cover;
 }
 #welcomelabel{
     font-size:  24px;
     margin-top: 25px;
     margin-left: 50px;
 }
 .marginTop{
     margin-top: 300px;
 }
}
